body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Anek Latin", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.rccfRed {
  color: red;
}

.rccfBlue {
  color: #0204a8
}


.fadeIn {
  opacity: 0;
  animation: fade 2.5s forwards;
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
